#page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 0.8rem;
  color: color-mix(in srgb, var(--text) 90%, white 10%);
}
