#page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 0.8rem;
  color: color-mix(in srgb, var(--text) 90%, white 10%);
}

#cta > button {
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  
}
