/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
  min-height: 100vh;
}
body {
  background:
    linear-gradient(
      to top right,
      color-mix(in srgb, var(--bg) 90%, white 10%) 0%,
      transparent 100%
    ),
    radial-gradient(var(--bgDot) 0.25px, transparent 1px);
  background-size: auto, 22px 22px;
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  color: var(--text);
  line-height: 1.6;
}
button:not(.nostyle) {
  background: linear-gradient(to top right, var(--accent), var(--accentGrey));
  padding: 0.35rem;
  border: 2.5px solid var(--accentBlack);
  cursor: pointer;
  font-size: 0.8rem;
}
button:has(i.fa-solid.fa-arrow-right) i.fa-solid.fa-arrow-right {
  transition: transform .5s ease;
}
button:hover:has(i.fa-solid.fa-arrow-right) i.fa-solid.fa-arrow-right {
  transform: translateX(2.5px);
}
a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target="_blank"] {
  margin-right: 1rem;
  position: relative;
}
a[target="_blank"]::after {
  content: '';
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path d='M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center;
  width: 1em;
  height: 1em;
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.accent {
  color: color-mix(in srgb, var(--accentBlack) 90%, black 10%);
}
.under {
  text-decoration: underline wavy color-mix(in srgb, var(--accentBlack) 90%, black 10%);
}
.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.toggle_label {
  width: 85px;
  height: 42px;
  background: #fff;
  border: 3px solid #eee;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
  cursor: pointer;
}
.toggle_label::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #eee;
  transition: 0.4s;
}
.toggle_input:checked + .toggle_label {
  border: 3px solid var(--accentBlack);
}
.toggle_input:checked + .toggle_label::after {
  left: 42px;
  background: var(--accentGrey);
}
.toggle_button {
  position: relative;
  width: auto;
  max-width: 85px;
  height: auto;
  aspect-ratio: 2/1;
}
custom-seg {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  background: var(--bgDot);
  border-radius: 8px;
  overflow: hidden;
}
custom-seg span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}
custom-seg .highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent);
  transition: transform 0.25s ease;
  z-index: 1;
  border-radius: 8px;
}
