:root {
  --bg: #F5F5F5;
  --bgDot: #D8D8D8;
  --glassBg: #FCFCFC;
  --glassBlur: 12px;
  --text: #191919;
  --linkColor: #1d9bf0;

  /* マジックナンバーを避けるための変数 */
  --radius: 16px;
  --borderSize: 2px;

  /* デフォルトテーマ */
  --accent: #B7DAFF;
  --accentGrey: #7DD0F5;
  --accentBlack: #A6D1FF;
}

/* 各テーマ用 */
html.blue {
  --accent: #B7DAFF;
  --accentGrey: #7DD0F5;
  --accentBlack: #A6D1FF;
}

html.green {
  --accent: #B7F5C8;
  --accentGrey: #7DEFB0;
  --accentBlack: #A6F5C8;
}

html.yellow {
  --accent: #FFF3B7;
  --accentGrey: #F5E97D;
  --accentBlack: #FFF0A6;
}

html.orange {
  --accent: #FFD4B7;
  --accentGrey: #F5B97D;
  --accentBlack: #FFC6A6;
}

html.red {
  --accent: #FFB7C4;
  --accentGrey: #F57D8E;
  --accentBlack: #FFA6B3;
}

html.purple {
  --accent: #D9B7FF;
  --accentGrey: #C47DF5;
  --accentBlack: #D1A6FF;
}

html.grey {
  --accent: #D0D0D0;
  --accentGrey: #B5B5B5;
  --accentBlack: #C8C8C8;
}
