:root {
  --bg: #F5F5F5;
  --bgDot: #D8D8D8;
  --glassBg: #FCFCFC;
  --glassBlur: 12px;
  --accent: #B7DAFF;
  --accentGrey: #7DD0F5;
  --accentBlack: #A6D1FF;
  --text: #191919;
  --linkColor: #1d9bf0;

  /* マジックナンバーを避けるための変数 */
  --radius: 16px;
  --borderSize: 2px;
}
