#upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 10rem;
  border-radius: var(--radius);
  border: 2px dashed var(--border-color);
  cursor: pointer;
}
#upload-container:is(:hover, .dragover) {
  border-color: var(--accent-border);
}

.sub-text {
  color: var(--text-tertiary);
}
